.link {
    display: inline-block;
    text-decoration: none;
    padding: 24px 12px;
    font-weight: 500;
    color: white;
    font-size: 24px;
}

.link:hover,
.link:focus {
    color: #fa9191;
}

.link.active {
    color: #e84a5f;
}