form {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    padding: 20px;
    margin: 20px 0;
}



form button {
    width: 150px;
    font-size: 18px;
    padding: 5px 0;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
}